{{!< default}} <div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Documentation
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            <ul class="nav nav-vertical">

                all

                {{#get "posts" include="all"}}
                {{#foreach posts}}
                {{#has tag="student, hevisco"}}
                {{else}}
                {{> "docsVerticalListItem"}}
                {{/has}}
                {{/foreach}}
                {{/get}}

                student

                {{#get "posts" include="student"}}
                {{#foreach posts}}
                {{#has tag="student"}}
                {{> "docsVerticalListItem"}}
                {{/has}}
                {{/foreach}}
                {{/get}}

                hevisco

                {{#get "posts" include="hevisco"}}
                {{#foreach posts}}
                {{#has tag="hevisco"}}
                {{> "docsVerticalListItem"}}
                {{/has}}
                {{/foreach}}
                {{/get}}
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="card card-lg">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
    </div>