{{!< default}}{{#post}} <div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          Wiki
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-none d-lg-block col-lg-3">
      <ul class="nav nav-vertical">
        <li class="nav-item">
          <a href="#all-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
            <span class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 9l3 3l-3 3" />
                <line x1="13" y1="15" x2="16" y2="15" />
                <rect x="4" y="4" width="16" height="16" rx="4" />
              </svg>
            </span>
            All
            <span class="nav-link-toggle"></span>
          </a>
          <ul class="nav nav-pills collapse show" id="all-base">
            {{#get "posts" filter="tags:-[student, hevisco]"}}
            {{#foreach posts}}
            {{> "docsVerticalListItem"}}
            {{/foreach}}
            {{/get}}
          </ul>
        </li>
        <li class="nav-item">
          <a href="#student-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
            <span class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 9l3 3l-3 3" />
                <line x1="13" y1="15" x2="16" y2="15" />
                <rect x="4" y="4" width="16" height="16" rx="4" />
              </svg>
            </span>
            Student
            <span class="nav-link-toggle"></span>
          </a>
          <ul class="nav nav-pills collapse show" id="student-base">
            {{#get "posts" filter="tags:[student]"}}
            {{#foreach posts}}
            {{> "docsVerticalListItem"}}
            {{/foreach}}
            {{/get}}
          </ul>
        </li>
        <li class="nav-item">
          <a href="#hevisco-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
            <span class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 9l3 3l-3 3" />
                <line x1="13" y1="15" x2="16" y2="15" />
                <rect x="4" y="4" width="16" height="16" rx="4" />
              </svg>
            </span>
            HevisCo
            <span class="nav-link-toggle"></span>
          </a>
          <ul class="nav nav-pills collapse show" id="hevisco-base">
            {{#get "posts" filter="tags:[hevisco]"}}
            {{#foreach posts}}
            {{> "docsVerticalListItem"}}
            {{/foreach}}
            {{/get}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-lg-9">
      <div class="card card-lg">
        <div class="card-body">
          <div class="d-flex mb-4">
            <h1 class="mt-0">{{title}}</h1>
            <p class="ms-auto">
              <a href="https://getbootstrap.com/docs/4.4/components/breadcrumb/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon pe-1 text-blue" width="24" height="24"
                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                  <line x1="10" y1="14" x2="20" y2="4"></line>
                  <polyline points="15 4 20 4 20 9"></polyline>
                </svg>
                Edit
              </a>
            </p>
          </div>
          {{content}}
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/post}}